.rate-container {
    margin-top: 20px;
}

.rate-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.rate-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #7f6f8e;
}

.rate-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    text-shadow: 1px 1px 0 #403e3e;
}

.rate-info h3 {
    margin: 0;
    font-size: 18px;
}

.rate-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #C7C2D6FF;
}