<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${game.name}"></title>
    <link rel="stylesheet" th:href="@{/css/gameStyle.css}" />
</head>
<body>
<div th:insert="navbar::navbar"></div>
<div class="content">
    <div class="container">
        <div class="video-section">
            <div class="video">
                <div th:if="${game.video != null}">
                    <video width="100%"  controls>
                        <source th:src="${game.video}" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div th:unless="${game.video != null}">
                    <p>Không có video</p>
                </div>
            </div>
            <div class="rate-container">
                <div class="rate-grid">
                    <div class="rate-card">
                        <div class="rate-info">
                            <h3>Gameplay</h3>
                            <p th:text="'Based on ' + ${totalReviews} + ' Reviews'"></p>
                        </div>
                        <div class="rate-value" id="gameplay-rate" th:text="${avgGameplay}">0</div>
                    </div>
                    <div class="rate-card">
                        <div class="rate-info">
                            <h3>Music</h3>
                            <p th:text="'Based on ' + ${totalReviews} + ' Reviews'"></p>
                        </div>
                        <div class="rate-value" id="music-rate" th:text="${avgMusic}">0</div>

                    </div>
                    <div class="rate-card">
                        <div class="rate-info">
                            <h3>Graphic</h3>
                            <p th:text="'Based on ' + ${totalReviews} + ' Reviews'"></p>
                        </div>
                        <div class="rate-value" id="graphic-rate" th:text="${avgGraphic}">0</div>
                    </div>
                    <div class="rate-card">
                        <div class="rate-info">
                            <h3>Story</h3>
                            <p th:text="'Based on ' + ${totalReviews} + ' Reviews'"></p>
                        </div>
                        <div class="rate-value" id="story-rate" th:text="${avgStory}">0</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="metascore-section">
            <div class="metascore-container">
            <div class="metascore-card">
                <div class="metascore-info">
                    <h4>Metascore</h4>
                    <h3>Generally Favorable</h3>
                    <p>Based on 36 Critic Reviews</p>
                    <div class="progress-bar">
                        <div class="progress">
                            <div class="progress-green"></div>
                            <div class="progress-yellow"></div>
                            <div class="progress-red"></div>
                        </div>
                    </div>
                </div>
                <div class="metascore-value">7.6</div>
            </div>

            <div class="metascore-card">
                <div class="metascore-info">
                    <h4>IGN</h4>
                    <h3>Generally Favorable</h3>
                    <p>Based on 536 Critic Reviews</p>
                    <div class="progress-bar">
                        <div class="progress">
                            <div class="progress-green"></div>
                            <div class="progress-yellow"></div>
                            <div class="progress-red"></div>
                        </div>
                    </div>
                </div>
                <div class="metascore-value">2.6</div>
            </div>


            <div class="metascore-card">
                <div class="metascore-info">
                    <h4>Userscore</h4>
                    <h3>Generally Favorable</h3>
                    <p th:text="'Based on ' + ${totalReviews} + ' Reviews'"></p>
                    <div class="progress-bar">
                        <div class="progress">
                            <div class="progress-green"></div>
                            <div class="progress-yellow"></div>
                            <div class="progress-red"></div>
                        </div>
                    </div>
                </div>
                <div class="metascore-value" th:text="${overallAverage}">0</div>
            </div>
        </div>
            <div class="video-info">
                <h1 th:text="${game.name}">Game Title</h1>
                <p class="spaced-paragraph"><strong>Tags:</strong> <span th:text="${game.genre}"></span></p>
                <p class="spaced-paragraph"><strong>Platform:</strong> <span th:text="${game.platform  }"></span></p>
                <p class="spaced-paragraph"><strong>Developer:</strong> <span th:text="${game.developer}"></span></p>
            </div>



        </div>
    </div>
    <hr class="divider">
    <div class="game-detail">
        <h1>Game detail</h1>
         <p class="spaced-paragraph" th:text="${game.description}">Game description goes here.</p>
    </div>
    <hr class="divider">
    <div class="game-detail">
        <h1>Update</h1>
        <p class="spaced-paragraph">The game was initially confirmed to be in the works on April 7, 2022, as "the next
            game in the Subnautica universe". In November 2023, publisher Krafton revealed in a financial report that
            it was to be released sometime in 2025. This was followed by another report on February 8, 2024, that described
            it as a "multiplayer live-service game", creating fan backlash that prompted the developers to clarify that it
            would have "no season passes, no battle passes, no subscription". The first screenshots of the game were also
            published in 2024, some of which were hidden within Subnautica itself. A cinematic trailer for the game was
            released on October 17, 2024, during the Xbox Partner Showcase. It is planned to be released as an early access title, and will
            be available on PC and Xbox Series X and S. Unlike its predecessors, Subnautica 2 is made with Unreal Engine 5.</p>
    </div>
    <hr class="divider">
    <div class="popup">
        <form class="review-form" th:action="@{/submitReview}" th:method="post">
            <div class="popup-header">
                <div class="popup-header-text">
                    <h1 class="RateName" th:block sec:authorize="isAuthenticated()">
                        <span th:text="${#authentication.name}"></span>
                    </h1>
                </div>
                <div class="box">
                    <select name="platform">  <option value="PC">PC</option>
                        <option value="XBOX">XBOX</option>
                        <option value="PS4/5">PS4/5</option>
                        <option value="CONSOLE">CONSOLE</option>
                        <option value="MOBILE">MOBILE</option>
                    </select>
                </div>
            </div>
            <div class="rating-container">
                <div class="rating">
                    <h2>Gameplay</h2>
                    <div class="rating-system2">
                        <input type="radio" id="star10_gameplay" name="gameplay_rating" value="10" required />
                        <label for="star10_gameplay"></label>

                        <input type="radio" id="star9_gameplay" name="gameplay_rating" value="9" required />
                        <label for="star9_gameplay"></label>

                        <input type="radio" id="star8_gameplay" name="gameplay_rating" value="8" required />
                        <label for="star8_gameplay"></label>

                        <input type="radio" id="star7_gameplay" name="gameplay_rating" value="7" required />
                        <label for="star7_gameplay"></label>

                        <input type="radio" id="star6_gameplay" name="gameplay_rating" value="6" required />
                        <label for="star6_gameplay"></label>

                        <input type="radio" id="star5_gameplay" name="gameplay_rating" value="5" required />
                        <label for="star5_gameplay"></label>

                        <input type="radio" id="star4_gameplay" name="gameplay_rating" value="4" required />
                        <label for="star4_gameplay"></label>

                        <input type="radio" id="star3_gameplay" name="gameplay_rating" value="3" required />
                        <label for="star3_gameplay"></label>

                        <input type="radio" id="star2_gameplay" name="gameplay_rating" value="2" required />
                        <label for="star2_gameplay"></label>

                        <input type="radio" id="star1_gameplay" name="gameplay_rating" value="1" required />
                        <label for="star1_gameplay"></label>
                    </div>
                </div>

                <div class="rating">
                    <h2>Music</h2>
                    <div class="rating-system2">
                        <input type="radio" id="star10_music" name="music_rating" value="10" required />
                        <label for="star10_music"></label>

                        <input type="radio" id="star9_music" name="music_rating" value="9" required />
                        <label for="star9_music"></label>

                        <input type="radio" id="star8_music" name="music_rating" value="8" required />
                        <label for="star8_music"></label>

                        <input type="radio" id="star7_music" name="music_rating" value="7" required />
                        <label for="star7_music"></label>

                        <input type="radio" id="star6_music" name="music_rating" value="6" required />
                        <label for="star6_music"></label>

                        <input type="radio" id="star5_music" name="music_rating" value="5" required />
                        <label for="star5_music"></label>

                        <input type="radio" id="star4_music" name="music_rating" value="4" required />
                        <label for="star4_music"></label>

                        <input type="radio" id="star3_music" name="music_rating" value="3" required />
                        <label for="star3_music"></label>

                        <input type="radio" id="star2_music" name="music_rating" value="2" required />
                        <label for="star2_music"></label>

                        <input type="radio" id="star1_music" name="music_rating" value="1" required />
                        <label for="star1_music"></label>
                    </div>
                </div>

                <div class="rating">
                    <h2>Graphics</h2>
                    <div class="rating-system2">
                        <input type="radio" id="star10_graphics" name="graphics_rating" value="10" required />
                        <label for="star10_graphics"></label>

                        <input type="radio" id="star9_graphics" name="graphics_rating" value="9" required />
                        <label for="star9_graphics"></label>

                        <input type="radio" id="star8_graphics" name="graphics_rating" value="8" required />
                        <label for="star8_graphics"></label>

                        <input type="radio" id="star7_graphics" name="graphics_rating" value="7" required />
                        <label for="star7_graphics"></label>

                        <input type="radio" id="star6_graphics" name="graphics_rating" value="6" required />
                        <label for="star6_graphics"></label>

                        <input type="radio" id="star5_graphics" name="graphics_rating" value="5" required />
                        <label for="star5_graphics"></label>

                        <input type="radio" id="star4_graphics" name="graphics_rating" value="4" required />
                        <label for="star4_graphics"></label>

                        <input type="radio" id="star3_graphics" name="graphics_rating" value="3" required />
                        <label for="star3_graphics"></label>

                        <input type="radio" id="star2_graphics" name="graphics_rating" value="2" required />
                        <label for="star2_graphics"></label>

                        <input type="radio" id="star1_graphics" name="graphics_rating" value="1" required />
                        <label for="star1_graphics"></label>
                    </div>
                </div>

                <div class="rating">
                    <h2>Story</h2>
                    <div class="rating-system2">
                        <input type="radio" id="star10_story" name="story_rating" value="10" required />
                        <label for="star10_story"></label>

                        <input type="radio" id="star9_story" name="story_rating" value="9" required />
                        <label for="star9_story"></label>

                        <input type="radio" id="star8_story" name="story_rating" value="8" required />
                        <label for="star8_story"></label>

                        <input type="radio" id="star7_story" name="story_rating" value="7" required />
                        <label for="star7_story"></label>

                        <input type="radio" id="star6_story" name="story_rating" value="6" required />
                        <label for="star6_story"></label>

                        <input type="radio" id="star5_story" name="story_rating" value="5" required />
                        <label for="star5_story"></label>

                        <input type="radio" id="star4_story" name="story_rating" value="4" required />
                        <label for="star4_story"></label>

                        <input type="radio" id="star3_story" name="story_rating" value="3" required />
                        <label for="star3_story"></label>

                        <input type="radio" id="star2_story" name="story_rating" value="2" required />
                        <label for="star2_story"></label>

                        <input type="radio" id="star1_story" name="story_rating" value="1" required />
                        <label for="star1_story"></label>
                    </div>
                </div>

            </div>
            <input type="hidden" name="gameId" th:value="${game.gameId}" />
            <textarea placeholder="Enter your comment" name="comment" class="review-input_field"></textarea>
            <button type="submit" class="review-submit">Submit</button>
        </form>
    </div>


    <div class="review-container">
        <div th:each="review : ${reviews}" class="review-card">
            <div class="review-header">
                <div class="review-score" th:text="${review.getRating()}"></div>
                <div class="review-info">
                    <span class="review-author" th:text="${review.user.username}"></span>
                    <span class="review-date" th:text="${review.reviewDate}"></span>
                </div>


            </div>
            <div class="review-content">
                <p th:text="${review.comment}"></p>
            </div>
            <div class="review-footer">
                <span class="review-platform" th:text="${review.platform}"></span>
            </div>
        </div>
    </div>


    <hr class="divider">
    <div class="games-container">
        <div class="header">
            <h2>Related Games</h2>
        </div>
        <div class="games-list">
            <div class="games-list-container">
                <div class="game-card" th:each="relatedGame : ${games}">
                    <a th:href="@{/game/{id}(id=${relatedGame.gameId})}">
                        <img th:src="${relatedGame.image}" th:alt="${relatedGame.name}">
                    </a>
                    <div class="games-info">
                        <h3 class="game-title" th:text="${relatedGame.name}">Game Name</h3>

                    </div>
                </div>
            </div>

            <button class="scroll-button next-button">></button>

            <button class="scroll-button pre-button"><</button>
        </div>
    </div>
</div>

<hr class="divider">

<script th:src="@{/js/rate4point.js}"></script>
<script th:src="@{/js/gameScript.js}"></script>



</body>
</html>