<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GGamer</title>
  <link rel="stylesheet" th:href="@{/css/gameStyle.css}" />
</head>
<body>
<div th:insert="navbar::navbar"></div>

<div class="content">
  <div class="games-container">
    <div class="header">
      <h2>New Release</h2>
    </div>
    <div class="games-list">
      <div class="games-list-container">
        <div class="game-card" th:each="game : ${newReleaseGames}">
          <a th:href="@{/game/{id}(id=${game.gameId})}">
            <img th:src="${game.image}" th:alt="${game.name}">
          </a>
          <div class="games-info">
            <h3 class="game-title" th:text="${game.name}">Game Name</h3>
          </div>
        </div>
      </div>
      <button class="scroll-button next-button">></button>
      <button class="scroll-button pre-button"><</button>
    </div>
  </div>
  <hr class="divider">
  <div class="games-container">
    <div class="header">
      <h2>Game News</h2>
    </div>
    <div class="games-list">
      <div class="news-list-container">
        <div class="news-card" th:each="news : ${news}">
          <a th:href="@{/news/{id}(id=${news.newsId})}">
            <img th:src="${news.image}" th:alt="${news.title}">
          </a>
          <div class="games-info">
            <h3 class="game-title" th:text="${news.title}">Game Name</h3>
          </div>
        </div>
      </div>
    </div>
  <hr class="divider">
    <div class="games-container">
      <div class="header">
        <h2>Must Play</h2>
      </div>
      <div class="games-list">
        <div class="games-list-container">
          <div class="game-card" th:each="game : ${mustPlayGames}">
            <a th:href="@{/game/{id}(id=${game.gameId})}">
              <img th:src="${game.image}" th:alt="${game.name}">
            </a>
            <div class="games-info">
              <h3 class="game-title" th:text="${game.name}">Game Name</h3>
             </div>
          </div>
        </div>
        <button class="scroll-button next-button">></button>
        <button class="scroll-button pre-button"><</button>
      </div>
    </div>
  </div>

    <div class="games-container">
      <div class="header">
        <h2>Coming Soon</h2>
      </div>
      <div class="games-list">
        <div class="games-list-container">
          <div class="game-card" th:each="game : ${comingSoonGames}">
            <a th:href="@{/game/{id}(id=${game.gameId})}">
              <img th:src="${game.image}" th:alt="${game.name}">
            </a>
            <div class="games-info">
              <h3 class="game-title" th:text="${game.name}">Game Name</h3>
              <p class="game-description" th:text="${game.description}">Game description goes here.</p>
            </div>
          </div>
        </div>
        <button class="scroll-button next-button">></button>
        <button class="scroll-button pre-button"><</button>
      </div>
    </div>
  </div>

</div>
</div>

<script th:src="@{/js/gameScript.js}"></script>
</body>
</html>