<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/signIn.css}">
</head>
<body>
<div class="container">
    <div class="heading">Sign In</div>
    <form class="form" th:action="@{/login}" method="post">
        <div class="input-field">
            <input required="" autocomplete="on" type="text" name="username"  id="username" />
            <label for="username">Full Name</label>
        </div>
        <div class="input-field">
            <input required="" autocomplete="off" type="password" name="password"  id="password" />
            <label for="password">Password</label>
        </div>
        <div class="btn-container">
            <button class="btn" type="submit">Login</button>
            <div class="acc-text">
                New here ?
                <a th:href="@{/signup}">
                    <span style="color : #0000ff; cursor : pointer;">Create Account</span>
                </a>
            </div>
        </div>
        <div th:if="${param.error}" style="color: red;">Invalid username or password</div>
        <div th:if="${param.logout}" style="color: green;">Logged out successfully</div>
    </form>
</div>
</body>
</html>